.card1 {
  width: 351px;
  height: 128px;
  margin-left: 11px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  margin-top: 15px;
}

.card2 {
  width: 351px;
  height: 128px;
  background-color: #1a1a1a;
  transform: scale(0.98);
  border-radius: 20px;
  transition: all .2s;
}

.card {
  display: ruby;
  padding: 5px;
}

.container {

  padding: 2Px;
  display: flex;
  gap: 10px;
  height: 121px;
}

.card-image {
  margin: 5px;
  width: 87px;
  height: 73px;
  border-radius: 20px;
}

.image-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.amount {
  margin: 0px;
  color: white;
  padding-left: 11px;
}

.title {
  font-size: x-large;
  color: white;
}

.task {
  color: white;
  font-size: large;
}

.cta {
  display: flex;
  padding: 3px 25px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: #6225e6;
  box-shadow: 4px 4px 0 #fbc638;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}




.second {
  width: 20px;
  margin-left: 3px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  animation: color_anim 1s infinite 0.6s;
}

.two {
  transition: 0.5s;
  animation: color_anim 1s infinite 0.4s;
}

.three {
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #a87d08;
  }

  100% {
    fill: white;
  }
}

.startbtn {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}
