.card1 {
  width: 351px;
  height: 128px;
  margin-left: 11px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
  margin-top: 15px;
}

.card2 {
  width: 351px;
  height: 128px;
  background-color: #1a1a1a;
  transform: scale(0.98);
  border-radius: 20px;
  transition: all .2s;
}

.card {
  display: ruby;
  padding: 5px;
}

.container {

  padding: 2Px;
  display: flex;
  gap: 10px;
  height: 121px;
}

.card-image {
  margin: 5px;
  width: 87px;
  height: 73px;
  border-radius: 20px;
}

.image-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.amount {
  margin: 0px;
  color: white;
  padding-left: 11px;
}

.title {
  font-size: x-large;
  color: white;
}

.task {
  color: white;
  font-size: large;
}

.cta {
  display: flex;
  padding: 3px 25px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background: #6225e6;
  box-shadow: 4px 4px 0 #fbc638;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}




.second {
  width: 20px;
  margin-left: 3px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  animation: color_anim 1s infinite 0.6s;
}

.two {
  transition: 0.5s;
  animation: color_anim 1s infinite 0.4s;
}

.three {
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #a87d08;
  }

  100% {
    fill: white;
  }
}

.startbtn {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}


// barcode


/* Full screen overlay that blocks clicks */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* optional dim effect */

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* stays on top */
  pointer-events: all; /* blocks all clicks */
}

/* Center div */
.center-box {
  background: #302637 !important;
  height: 57%;
  width: 20%;
  background: #fff;
  padding: 15px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  background-color: #40314a;
  border-radius: 4px;
  padding: 8px;
  color:white;
}
.closebtn {
  border: none;
  background: #97a97a;
  border-radius: 7px;
  height: 24px;
  width: 24px;
  color: white;
}

.scan {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputurl {
  margin-top: 7px;
  width: 98%;
  height: 25px;
  border-radius: 6px;
  color: white;
  border: 9px;
  background: #40314a;
}

.copybtn {
  border: none;
  background: #97a97a;
  border-radius: 7px;
  height: 24px;
  width: 69px;
  padding: -1px;
  color: white;
  margin: 5px;
}

.sec {
  background: #18181b;
  border-radius: 23px;
  height: 85vh;
}
