.privacy-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffd277;
}

h2 {
  margin-top: 20px;
  font-size: 18px;
  color: #ffd277;
}

p {
  font-size: 15px;
  margin-top: 8px;
}

.sec {
  background: #18181b;
  border-radius: 23px;
}
