.headername {
  display: flex;
  align-items: center; /* vertically align */
  gap: 104px; /* space between image & text */
  z-index: 999;
}

.h211 {
  font-weight: bold;
  color: #ffd277;
  margin-top: 39px;
  margin-left: 21px;
}

.toppaddings {
  margin-top: 80px;
}

.lowerpaddings {
  margin-bottom: 40px;
}

.container-menu {
  display: flex;
  align-items: center;
}
/* From Uiverse.io by pathikcomp */

$primary: #121212;
$white: #ffd277;
$transition: 0.4s;

.main {
  color: $white;
  padding: 3px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 45%;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 32px;

  > .inp {
    display: none;

    &:checked {
      + .arrow {
        transform: rotateX(180deg);
      }
    }

    &:checked ~ .menu-container {
      clip-path: inset(10% 50% 90% 50% round 10px);
    }

    &:not(:checked) {
      ~ .menu-container {
        .menu-list {
          transform: translateY(0);
          opacity: 1;

          &:nth-child(1) {
            transition: transform $transition 0.4s, opacity $transition 0.4s;
          }

          &:nth-child(2) {
            transition: transform $transition 0.55s, opacity $transition 0.55s;
          }

          &:nth-child(3) {
            transition: transform $transition 0.7s, opacity $transition 0.7s;
          }

          &:nth-child(4) {
            transition: transform $transition 0.85s, opacity $transition 0.85s;
          }

          &:nth-child(5) {
            transition: transform $transition 0.90s, opacity $transition 0.90s;
          }
        }
      }

      ~ .bar {
        .top {
          transform-origin: top right;
          transform: translateY(-25%) rotate(-45deg);
        }

        .middle {
          transform: translateX(-50%);
          opacity: 0;
        }

        .bottom {
          transform-origin: bottom right;
          transform: translateY(25%) rotate(45deg);
        }
      }
    }
  }
}

/* Arrow Icon */
.arrow {
  height: 34%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    height: 100%;
    width: 2.5px;
    border-radius: 500px;
    transform-origin: bottom;
  }

  &::before {
    transform: rotate(-35deg) translateX(0.5px);
  }

  &::after {
    transform: rotate(35deg) translateX(-0.5px);
  }
}

/* Menu Dropdown */
.menu-container {
  background-color: #121212;
  color: $white;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  overflow: hidden;
  clip-path: inset(0 0 0 0 round 10px);
  transition: all $transition;

  .menu-list {
    padding: 0px 15px;
    height: 53px;
    border-radius: inherit;
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: background-color 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 95%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:hover {
      background-color: rgb(223, 223, 223);
    }
  }
}

/* Hamburger Bar */
.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;

  .bar-list {
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: $white;
    transition: all $transition;
  }
}

/* Hidden Input */
.bar-inp {
  appearance: none;
  display: none;
  visibility: hidden;
}

