


.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 12px;
}

.card {
  height: 200px;
  width: 159px;
  background-color: #0b0e0e;
  border-radius: 20px;
  border: 3px solid #ffd277;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


/* From Uiverse.io by vinodjangid07 */
.Btn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.Btn::before {
  position: absolute;
  content: "Coming Soon";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.Btn:hover {
  background-position: right;
  transition-duration: 1s;
}

.Btn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.Btn:active {
  transform: scale(0.95);
}

.img-card {
  margin: 3px;
  height: 100px;
  width: 147px;
  border-radius: 20px;
  border: 3px solid #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  //img {
  //  height: 60px;
  //  max-width: 84%;
  //}
}

.amount {
  content: "SUBSCRIBE";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playbtn {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
  background-size: 250%;
  background-position: left;
  color: #ffd277;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1s;
  overflow: hidden;
}

.playbtn::before {
  position: absolute;
  content: "PLAY & EARN";
  color: #ffd277;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 90%;
  border-radius: 8px;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.842);
  background-size: 200%;
}

.playbtn:hover {
  background-position: right;
  transition-duration: 1s;
}

.playbtn:hover::before {
  background-position: right;
  transition-duration: 1s;
}

.playbtn:active {
  transform: scale(0.95);
}

.img-logo {
  height: 100%;
  width: 100%;
  border-radius: 17px;
}
