


<section >
  <div class="toppaddings"></div>
  <div class="card-grid">
    <div class="card">
      <div class="img-card"><img src="assets/images/pocketsfull-logo.png" /></div>
      <div class="amount">
        <i><b>$1 - $1689</b></i>
      </div>
      <div style=" margin: 7px;"><button class="playbtn" (click)="openurl()"></button></div>

    </div>
    <div class="card">
      <div class="img-card"><img class="img-logo" src="assets/images/zigpoll.jpg" /></div>
      <div class="amount">
        <i><b>$1 - $883</b></i>
      </div>
      <div style=" margin: 7px;"><button class="Btn"></button></div>

    </div>
    <div class="card">
      <div class="img-card"><img class="img-logo" src="assets/images/cpx.png" /></div>
      <div class="amount">
        <i><b>$1 - $1909</b></i>
      </div>
      <div style=" margin: 7px;"><button class="Btn"></button></div>

    </div>
    <div class="card">
      <div class="img-card"><img class="img-logo" src="assets/images/adgate.jpg" /></div>
      <div class="amount">
        <i><b>$1 - $924</b></i>
      </div>
      <div style=" margin: 7px;"><button class="Btn"></button></div>

    </div>
    <div class="card">
      <div class="img-card"><img class="img-logo" src="assets/images/gamize.png" /></div>
      <div class="amount">
        <i><b>$1 - $589</b></i>
      </div>
      <div style=" margin: 7px;"><button class="Btn"></button></div>

    </div>
    <div class="card">
      <div class="img-card"><img class="img-logo" src="assets/images/offertoro.jpg" /></div>
      <div class="amount">
        <i><b>$1 - $153</b></i>
      </div>
      <div style=" margin: 7px;"><button class="Btn"></button></div>

    </div>

  </div>

  <div class="lowerpaddings"></div>
</section>



